@model APFTestingUI.Areas.Administration.Models.QuestionManagement.Create

@{
    ViewBag.Title = "Create Packer Theory Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="manage-theory-question-wrap">
    <h1>Add Theory Question - Packer</h1>
    
    <h2>Question Details</h2>
    @using (Html.BeginForm("CreatePacker", "QuestionManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(false)
        @Html.AntiForgeryToken()
        
        @Html.Partial("_CreateQuestion", Model)
        
        
        <br />
        <hr />
        @Html.ActionLink("Cancel", "IndexPacker", new { }, new { @class="form-button" })
        <input type="submit" value="Create" class="form-button" />
    }
</div>


@section scripts
{
    <script src="~/Scripts/question-management.js"></script>
}

