@model APFTestingUI.Areas.Administration.Models.QuestionManagement.Display

@{
    ViewBag.Title = "Pilot Theory Question Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="manage-theory-question-wrap" class="details">
    <h1>Pilot Question</h1>
    
    @Html.Partial("_DisplayQuestion", Model)
    
</div>


<br />
<br />

@Html.ActionLink("Back", "IndexPilot", new { }, new { @class="examiner-button" })

@if (Model.EditableOrDeletable)
{
    @Html.ActionLink("Edit", "EditPilot", new { questionId = Model.Id }, new { @class="examiner-button" })
    @Html.ActionLink("Delete", "DeletePilot", new { questionId = Model.Id }, new { @class="examiner-button delete" })
}

</div>

@section scripts
{
    <script src="~/Scripts/administration.js"></script>
}




