@model APFTestingUI.Areas.Administration.Models.QuestionManagement.Edit

@{
    ViewBag.Title = "Edit Pilot Theory Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="manage-theory-question-wrap">

    <h1>Edit Theory Question - Pilot</h1>
    
    @using (Html.BeginForm("EditPilot", "QuestionManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(false)
        @Html.AntiForgeryToken()
        
        @Html.Partial("_EditQuestion", Model)
        
        
        <br />
        <hr />
        @Html.ActionLink("Cancel", "IndexPilot", new { }, new { @class="form-button" })
        <input type="submit" value="Save" class="form-button" />
    }
    
</div>

@section scripts
{
    <script src="~/Scripts/question-management.js"></script>
}
