@model APFTestingUI.Areas.Administration.Models.QuestionManagement.IndexPilot

@{
    ViewBag.Title = "Pilot Theory Question Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Theory Questions - Pilot</h1><br/>

<div>
    @Html.ActionLink("Add New Question", "CreatePilot", new { }, new { @class="button-add" })
</div><br/><br/>

<div>
    @if (Model.TheoryQuestions.Count() > 0)
    {
        <table id="question-list">

            <thead>
                <tr>
                    <th class="th-active">Status</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @*@{var counter = 0;}*@
                @foreach (var question in Model.TheoryQuestions)
                {
                    //var loopClass = (counter % 2 == 0) ? "row-even" : "row-odd";
                    <tr>
                        <td>
                            <a href='@Url.Action("ToggleActivationPilot", new { questionId = question.Id })'>
                                @if (question.IsActive)
                                {
                                    <img src="~/Images/on.png" alt="On button" width="56" height="30" />
                                }
                                else
                                {
                                    <img src="~/Images/off.png" alt="Off button" width="56" height="30" />
                                }
                            </a>
                        </td>
                        
                       
                        <td>
                            @Html.ActionLink(question.Description, "DisplayPilot", new { questionId = question.Id })
                        </td>


                    </tr>
                }
            </tbody>

        </table>
    }
</div>
