@model APFTestingUI.Areas.Administration.Models.QuestionManagement.IndexPacker

@{
    ViewBag.Title = "Packer Theory Question Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Theory Questions - Packer</h1>

<div>
    @Html.ActionLink("Add New Question", "CreatePacker", new { }, new { @class="button-add" })
</div><br/><br/>

<div>
    @if (Model.TheoryQuestions.Count() > 0)
    {
        <table id="question-list">

            <thead>
                <tr>
                    <th class="th-active">Status</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var question in Model.TheoryQuestions)
                {
                    <tr>
                        <td>
                            <a href='@Url.Action("ToggleActivationPacker", new { questionId = question.Id })'>
                                @if (question.IsActive)
                                {
                                    <img src="~/Images/on.png" alt="On button" width="56" height="30" />
                                }
                                else
                                {
                                    <img src="~/Images/off.png" alt="Off button" width="56" height="30" />
                                }
                            </a>
                        </td>
                        
                        <td>
                            @Html.ActionLink(question.Description, "DisplayPacker", new { questionId = question.Id })
                        </td>
                        
                    </tr>
                }
            </tbody>

        </table>
    }
</div>


