@model APFTestingUI.Areas.Administration.Models.QuestionManagement.IndexPilot

@{
    ViewBag.Title = "IndexPilot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexPilot</h2>

<div>
    <a href="#">
        ADD
    </a>
</div>

<div>
    @if (Model.TheoryQuestions.Count() > 0)
    {
        <table>

            <thead>
                <tr>
                    <th>Activation</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var question in Model.TheoryQuestions)
                {
                    <tr>
                        <td>
                            @switch (question.IsActive)
                            {
                                case true:
                                    <a href="#">
                                        ON
                                    </a>
                                    break;
                                case false:
                                    <a href="#">
                                        OFF
                                    </a>
                                    break;
                            }
                        </td>
                        
                        @if (question.editableOrDeletable)
                        {
                            <td>
                                @Html.ActionLink(question.Description, "EditPilot", new { questionId = question.Id })
                            </td>
                        }
                        else
                        {
                            <td>@question.Description</td>
                        }
                        
                    </tr>
                }
            </tbody>

        </table>
    }
</div>
