@model APFTestingUI.Areas.Administration.Models.TheoryFormat.Index

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="manage-exam-format-wrap">
    <h1>Theory Exam Format Management</h1>

    @Html.ActionLink("Add new format", "Create", new {}, new { @class="button-add" })<br /><br/>
    
    <br/>
    <h2>Pilot Formats</h2>
    <table>
        <thead>
            <tr>
                <th class="status">Status</th>
                <th class="questions">Number of Questions</th>
                <th class="pass-mark">Pass Mark</th>
                <th class="time-limit">Time Limit</th>
                <th class="edit-delete"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var format in Model.PilotFormats)
            {
                Html.RenderPartial("_DisplayFormat", format);
            }
        </tbody>
    </table>
    
    <br/><br/>
    
    <h2>Packer Formats</h2>
    <table>
        <thead>
            <tr>
                <th class="status">Status</th>
                <th class="questions">Number of Questions</th>
                <th class="pass-mark">Pass Mark</th>
                <th class="time-limit">Time Limit</th>
                <th class="edit-delete"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var format in Model.PackerFormats)
            {
                Html.RenderPartial("_DisplayFormat", format);
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Scripts/administration.js"></script>
}
