@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h3>
    Sorry, an error occurred while processing your request.
</h3>

<div class="validation-summary-errors">@ViewBag.ExceptionMessage</div>
