@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="error-page-wrapper">
    <h3>
        Sorry, an error occurred while processing your request.
    </h3>
    <p><img src="../Images/error.png" alt="Error" /></p>
    <p>@ViewBag.ExceptionMessage</p>
</div>