@{
    ViewBag.Title = "Main Index";
}

<h1>Temporary start page</h1>

@Html.ActionLink("Examiner Home Page", "Index", "Examiner") <br/>

@Html.ActionLink("Administrator Home Page", "Index", new { area = "Administration", controller = "Home" })
