html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

body {
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }


header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }*/


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}



/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }


/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
    outline: none;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        outline: none;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

td.index, td.description, td.question-answered, td.marked-for-review
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.index, .question-answered, .marked-for-review, th.description
{
    text-align:center;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}




/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


/* --------- NEW STYLES ---------  */
/** RESET */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

table#exam-summary
{
    margin-top: 15px;
    margin-bottom: 25px;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

img
{
    border: none;
}

/* INSERT A RESET STYLE SHEET */
/** BASE */
html
{
    background-color: #303030;
}

body
{
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #303030;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

#global-wrapper
{
    text-align: left;
}

#header
{
    background-image: linear-gradient(to bottom, #449CC5 7%, #99CDDB 77%);
    background-image: -o-linear-gradient(top, #449CC5 7%, #99CDDB 77%);
    background-image: -moz-linear-gradient(top, #449CC5 7%, #99CDDB 77%);
    background-image: -webkit-linear-gradient(top, #449CC5 7%, #99CDDB 77%);
    background-image: -ms-linear-gradient(top, #449CC5 7%, #99CDDB 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#449CC5', EndColorStr='#99CDDB');
}

    #header .size-wrapper
    {
        position: relative;
        min-height: 106px;
    }

    #logo-area
    {
        line-height:0;
        position: absolute;
        left: 0;
        top: 7px;
    }

    #header .right
    {
        float: right;
    }

#void-area 
{
    float: right;
    padding-top: 10px;
    width:100px;
}

    #void-area ul 
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float:left;
        width: 100%;
    }

    #void-area li 
    {
        margin: 0;
        padding: 0 10px 0 0;
        float: left;
        width:100%;
    }

        #void-area li span {
            display:block;
            padding:10px;
        }

#question-examiner-button {
    display: block;
    padding: 5px 20px;
    background-color: #117523;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8em;
    float: left;
}

#question-void-button {
    display: block;
    padding: 5px 20px;
    background-color: #117523;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8em;
}

        #login-area
        {
            float: right;
            padding-top: 10px;
        }

            #login-area ul
            {
                margin: 0;
                padding: 0;
                list-style-type: none;
                float:left;
            }

                #login-area li
                {
                    margin: 0;
                    padding: 0 10px 0 0;
                    float: left;
                }

                #login-area a
                {
                    display: block;
                    padding: 5px 20px;
                    background-color: #117523;
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 0.8em;
                }

                #login-area a:hover
                {
                    text-decoration: none;
                }

.gradient-wrapper
{
    /*background-image: linear-gradient(to bottom, #111111 7%, #303030 77%);
    background-image: -o-linear-gradient(top, #111111 7%, #303030 77%);
    background-image: -moz-linear-gradient(top, #111111 7%, #303030 77%);
    background-image: -webkit-linear-gradient(top, #111111 7%, #303030 77%);
    background-image: -ms-linear-gradient(top, #111111 7%, #303030 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#111111', EndColorStr='#303030');*/
    background:#303030 url('../Images/bg-gradient-grey.gif') 0 0 repeat-x;
}

#menu
{
    font-size: 1em;
    line-height: 2em;
}

    #menu .size-wrapper
    {
        padding-left: 170px;
        padding-right: 10px;
        max-width: 820px;
    }

    #menu ul
    {
        background-color: #117523;
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        width: 100%;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
    }

    #menu li
    {
        padding: 0;
        margin: 0;
        float: left;
    }

    #menu a
    {
        display: block;
        padding: 0 20px;
        text-decoration: none;
        color: #ffffff;
    }

    #menu a:hover
    {
        text-decoration: none;
        background-color: #34B34A;
    }



#content
{
    font-size: 0.8em;
    line-height: 1.333em;
}

    #content .size-wrapper
    {
        padding: 50px 10px 50px;
        max-width: 980px;
    }

    #content h1
    {
        margin: 0 0 1em;
        font-size: 2em;
        font-weight: normal;
    }

    #content h2
    {
        margin: 0 0 1em;
        font-size: 1.6em;
        font-weight: normal;
    }

    #content h3
    {
        margin: 0 0 1em;
        font-size: 1.2em;
        font-weight: normal;
    }

    #content h4, #content h5, #content h6
    {
        margin: 0 0 1em;
        font-size: 1.0em;
        font-weight: bold;
    }

    #content p
    {
        margin: 0 0 1em;
    }

    #content ul
    {
        margin: 0 0 1em;
    }

    #content ul, #content ol 
    {
        list-style-position: inside;
    }

    #content input[type="radio"]
    {
        background-color: transparent;
    }

    #content a
    {
        text-decoration: none;
        color: #5AA8FD;
    }

    #content a:hover
    {
        text-decoration: underline;
    }

    #content .button
    {
        color:#ffffff;
        background-color: #117523;
        border: none;
        border-radius: 10px;
        padding: 10px 10px;
        font-size: 1em;
        line-height: 1.1em;
        font-weight: normal;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    }


    #content .examinerButton
{
    margin: 0px;
    color: #ffffff;
    background-color: #5D5D5D;
    border: none;
    border-radius: 2px;
    padding: 5px 20px 7px 20px;
    font-size: x-small;
    width: 70%;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);

}

        #content .examinerButton:hover {
            box-shadow: 2px 2px 4px rgba(0,0,0,.5);
        }

       
table
{
    border-collapse: separate; /* For IE9 to render shadows */
}

        .lt-ie9 #content .button
        {
            behavior: url('/Content/PIE.htc');
            box-shadow: 1px 1px 4px #000000;
            position: relative;
            
        }

        #content .button:hover
        {
            background-color: #34B34A; 
            text-decoration: none;
            box-shadow: 2px 2px 4px rgba(0,0,0,.5);
        }

        #content a.button 
        {
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
            padding: 7px;
            margin-right: 8px;
            width: auto;
            padding: 10px 20px;
        }

#footer
{
    
}
    #footer .size-wrapper
    {
        padding: 10px;
        max-width: 980px;
        background-color: #117523;
        border-radius: 5px 5px 0 0;
    }

    #copy
    {
        margin: 0;
        text-align: right;
        font-size: 0.75em;
        padding: 5px;
    }


.size-wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}

.clear
{
    clear: both;
}

.green
{
    color: #34B34A;
}


/* BASE COLOR IS #35B44B*/

/* Candidate Page */
.add-candidate {
    
}

.add-candidate span {
    vertical-align:middle;
}

#candidate-list {
    width:100%;
}

    #candidate-list th {
        padding:10px 0;
        font-size: 1.2em;
    }

.candidate-list-item {

}

.candidate-first-name {
    width:7%;
}

.candidate-last-name {
    width:32%;
}

.start-theory-link
{
    padding: 0px;
    margin: 0px;
    width: 18%;

}

.input-practical-link {
    width:18%;
}

#add-candidate-link
{
    font-size: medium;
    font-weight: bold;
    font-family: Calibri;
    height: 50%;
}

/* Added by Adam and Joshua */
#ExamContainer {
    
}

    #ExamContainer fieldset {
        margin-bottom: 50px;
    }

.answer-container {
    padding: 0 10px;
}

.answer-checkbox {
    width: 20px;
    border: none;
}

.answer-radiobutton {
    width: 20px;
    border: none;

}

.answer-description {
    
}

.navigation-container .button {
    margin-right:20px;
}

#mark-for-review {
    margin: 0 30px;
}

#mark-for-review label{
    display: inline;
    font-size: 1.2em;
}

#mark-for-review input[type="checkbox"] {
    height: 30px;
    width: 30px;
}

.result-question {
    padding-bottom: 10px;
}

.result-question-number {
    font-size: 2.2em;
    display: inline-block;
}

.result-question-description {
    display: inline-block;
    width: 850px;
    padding-left: 30px;
    vertical-align: top;
    font-size: 1.1em
}

.result-answer {
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 35px;
    margin-left: 55px;
    margin-bottom: 10px;
    width: 700px;
}

li.result-answer {
    list-style-type: none;
}

#result-home {
    float: right;
    padding: 12px 30px !important;
}

#score {
    float: right;
    font-size: 2em;
}

.correct, .incorrect, .indicate-correct {
    background-repeat: no-repeat;
}

.correct {
    background-image: url("../Images/tick.png");
}

.incorrect {
    background-image: url("../Images/cross.png");
}

.indicate-correct {
    background-image: url("../Images/arrow.png");
}

.result-question .correct {
    border-bottom: solid 3px #00C000;
    padding-bottom: 7px;
    background-image: none;
}

.result-question .incorrect {
    border-bottom: solid 3px #FF0000;
    padding-bottom: 7px;
    background-image: none;
}

#progress-bar-outer {
    width: 100%;
    height: 15px;
    margin-bottom: 3em;
    padding: 5px;
    background-color: rgba(105, 107, 111, .7);
}

#progress-bar-inner {
    background-color: #99CDDB;
    width: 0;
    height: 15px;
}

#progress-bar-start {
    float: left;
    padding: 5px;
    color: #999;
}

#progress-bar-end {
    float: right;
    padding: 5px;
    color: #999;
}

.hidden {
    display:none;
}

dt {
    font-size: 1.4em;
    padding-left: 50px;
    margin: 5px 0px;
    line-height: 1.5em;
    cursor: pointer;
}

dd {
    padding-left: 60px;
    margin-bottom: 15px;
}

dt.marked {
    background: url("../Images/arrow.png") 15px 50% no-repeat;
}

dt.not-answered .question-title {
    background-color: rgba(224, 33, 33, 0.45);
}

.question-title {
    display: block;
    padding: 0 10px;
}

    .question-title span {
        width: 110px;
        display: inline-block;
    }

#content dt a {
    font-size: .7em;
    padding-left: 10px;
    color: #999;
}

#key-unanswered {
    background-color: rgba(224, 33, 33, 0.45);
    padding: 5px;
    margin-left: 20px;
}

#key-marked img {
    vertical-align: middle;
}

#key {
    background-color: rgb(70, 69, 69);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid 2px #999;
}

    #key p {
        margin: 5px 0 0 0;
        font-size: 1.2em;
        letter-spacing: 2px;
    }

#summary .button {
    float: right;
}

/*Playing with special checkboxes*/
input[type=checkbox].css-checkbox {
display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{
background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);
}