@model APFTestingUI.Models.Exam.TheoryQuestion
@{
    ViewBag.Title = "DisplayQuestion";
}

<div id="ExamContainer">
    <h2>Jump Pilot Authorisation Exam</h2>
    
    <hgroup>
        <h3>Question @Model.QuestionNumber:</h3>
        <h4>@Model.Description</h4>
    </hgroup>

    <form>
        @Html
        <input type="submit" value="Next Question" />
    </form>


</div>