@{
    ViewBag.Title = "DisplayQuestion";
}

<div id="ExamContainer">
    <h2>Jump Pilot Authorisation Exam</h2>
    
    <hgroup>
        <h3>Question 1:</h3>
        <h4>The governing body of parachuting Australia is:</h4>
    </hgroup>

    <form>
        <input type="radio" name="answer" value="1" />Civial Aviation Safety Authority (CASA)<br />
        <input type="radio" name="answer" value="2" />Australian Parachute Federation (APF)<br />
        <input type="radio" name="answer" value="3" />AirServices Australia<br />
        <input type="radio" name="answer" value="4" />Air Transport Safety Bureau (ATSB)<br />
        <input type="submit" value="Next Question"
    </form>


</div>