@model APFTestingUI.Models.Exam.TheoryComponentResult

@{
    ViewBag.Title = "Exam Result";
}

<hgroup>
    <h2>Theory Component Result</h2>
    @if (Model.IsCompetent)
    {
        <h3><span class="green">Congratulations!</span> You have passed.</h3>
    }
    else
    {
        <h3>Sorry, you did not pass.</h3>
    }
</hgroup>
<p>You scored @{@Model.Score}.</p>
<p>Please notify your examiner.</p>