@{
    ViewBag.Title = "Exam Start";
}
<div id="ExamContainer">

    <h2>Exam Instructions</h2>
    
    <p>This will be a paragraph describing the rules of the examination to the candidate.</p>

    <a href="@Url.Action("NextQuestion")">Start Exam</a>

</div>
