@{
    ViewBag.Title = "Exam Start";
}
<div id="ExamContainer">

    <h2>Exam Instructions</h2>
    
    <ul>
        <li>The exam consists of 30 questions.</li>
        <li>You will have a time limit of 60 mins to complete the exam.</li>
        <li>Each question has only one correct answer <strong><em>UNLESS</em></strong> stated otherwise in the question.</li>
        <li>You may mark questions for review</li>
        <li>Once all questions have been answered a summary page will be displayed. From here you can go back and alter any answer, and marked questions will be highlighted.</li>
        <li>Good luck!</li>
    </ul>

    @Html.ActionLink("Start Exam", "Question", new { examId = @ViewBag.ExamId, questionNumber = 0 })

</div>
