@model APFTestingUI.Models.Exam.Instructions

@{
    ViewBag.Title = "Instructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="exam-container">
    <h1>Exam Details</h1>

    <ul id="exam-instructions">
        <li>Number of questions: <strong>@Model.NumberOfQuestions</strong></li>

        <li>Pass mark: <strong>@Model.PassMark%</strong></li>

        @if (Model.TimeLimit == 0)
        {
            <li>No time limit</li>
        }
        else
        {
            <li>Time limit: <strong>@Model.TimeLimit</strong> minutes.</li>
        }
    </ul>
    <br />

    <h1>Instructions</h1>

    <ul id="exam-instructions">
        <li>For each question, select only one answer <strong>UNLESS</strong> stated otherwise in the question.</li>
        <li>A summary page will be displayed once all questions have been answered. From here, you can go back to any question.</li>
        <li>To mark a question for review, select this checkbox. <img id="review-checkbox-example" src="~/Images/review-checkbox-example.PNG" alt="Review checkbox"</li>
        <li>Questions marked for review are highlighted on the summary page.</li>
        <li>Good luck!</li>
    </ul>
    <br />
    <p>@Html.ActionLink("Start Exam", "FirstQuestion", new { }, new { @class = "button"})</p>

    <br />

</div>
