@model APFTestingUI.Models.Exam.Instructions

@{
    ViewBag.Title = "Instructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="exam-container">
    
    <h1>Instructions</h1>

    <ul id="exam-instructions">
        <li>The exam consists of @Model.NumberOfQuestions questions.</li>
        @if (Model.TimeLimit == 0)
        {
            <li>There is no time limit for this exam.</li>
        }
        else
        {
            <li>You will have a time limit of @Model.TimeLimit minutes to complete the exam.</li>
        }
        <li>You will need a score of @Model.PassMark% in order to pass.</li>
        <li>Each question has only one correct answer <strong>UNLESS</strong> stated otherwise in the question.</li>
        <li>You can mark questions for review and return to them later.</li>
        <li>Once all questions have been answered a summary page will be displayed. From here you can go back to any question, and marked questions will be highlighted.</li>
        <li>Good luck!</li>
    </ul>
    <br />
    <p>@Html.ActionLink("Start Exam", "FirstQuestion", new { examId = Model.ExamId }, new { @class = "button"})</p>

    <br />

</div>
