<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmailServiceOperation" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://b.programming.sit.edu.au/EmailServiceOperation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailServiceOperation"
                contract="IEmailServiceOperation" name="BasicHttpBinding_IEmailServiceOperation" />
        </client>
    </system.serviceModel>
</configuration>