@model APFTestingUI.Models.Examiner.Index

@{
    ViewBag.Title = "Examiner Home";
}

<hgroup>
<h2>Hello Grahame!</h2>
<h3>Welcome to the Examiner home page!</h3>
</hgroup>

<p class="add-candidate"><a href="#">+ Add new Candidate</a></p>
<hr />

<table id="candidate-list">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th colspan="2">Actions</th>
        </tr>    
    @foreach (var candidate in Model.Candidates)
    {
        <tr class="candidate-list-item">
            <td class="candidate-first-name">
                @candidate.FirstName
            </td>
            <td class="candidate-last-name">
                @candidate.LastName
            </td>
            <td class="start-theory-link">
                @Html.ActionLink("Start Theory Exam", "Start", "Exam", new { examId = candidate.LatestExamId }, new { @class = "link-button" })
            </td>
            <td class="input-practical-link">
                <a href="#" class="link-button">Input Practical Results</a>
            </td>
        </tr>
    }

</table>